<div class="container">
  


  <div class="row">
    <div class=" col-4" *ngFor="let doc of doctorList">
      <a  [routerLink]="['/doctor/',doc.id]">
        <div class="card_item">
          
            <div class="card_photo">
              <div *ngIf="doc?.photoBase64">
                <img class="img_doc" src="data:image/png;base64, {{doc?.photoBase64}}" />
              </div>
            </div>
          
            <div class="card_fio">
              <div class="items_fio">

                {{doc.lastName}}


                {{doc.firstName}}


                {{doc.middleName}}


              </div>
              <div>
                {{doc.shortDesk}}
              </div>
            </div>
        </div>
      </a>
    </div>
    <div class="paginftion">
      <div class="lable-select">
        <mat-label class="lable">Кол элементов на странице</mat-label>
        <mat-form-field class="slect" appearance="fill">

          <mat-select value="5" (selectionChange)="changeTheNumberOfLines($event)">
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="25">25</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="select_button">
        <button class="select_button  button" (click)="pageBack()" [disabled]="page == 1">Назад</button>
        <div>{{page}}/{{pageAll}}</div>
        <button class="select_button  button" (click)="pageForward()" [disabled]="page >= pageAll">Вперёд</button>
      </div>
    </div>
  </div>
  <br>
  <div></div>
</div>
