<div class="text-center">Создание врача</div>

<div class="form-control">
  <button type="submit" class="btn btn-primary" (click)="save()">Сохранить</button>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Имя врача</mat-label>
    <input matInput [(ngModel)]="doctor.firstName">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Отчество врач</mat-label>
    <input matInput [(ngModel)]="doctor.middleName">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Фамилия врач</mat-label>
    <input matInput [(ngModel)]="doctor.lastName">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Номер телефона</mat-label>
    <input matInput [(ngModel)]="doctor.phone"
           pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"
           required>
  </mat-form-field>
  <div *ngIf="doctor?.photo?.base64">
    <img [src]="data:image/png;base64, {{doctor.photo.base64}}" />
  </div>
  
  <input type="file" name="file" (change)="onFileChange($event)">
  <!--accept="application/pdf"-->
  <br>











  <div *ngFor="let pract of doctor.practicesDto">
    <mat-form-field appearance="fill">
      <mat-label>Специлизация</mat-label>
      <mat-select [(ngModel)]="pract.specializationId">
        <mat-option *ngFor="let spec of specializationList" [value]="spec.id">{{spec.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Специлизация</mat-label>
      <mat-select [(ngModel)]="pract.polyclinicId">
        <mat-option *ngFor="let polic of policlinicList" [value]="polic.id">{{polic.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Дата начала работы</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="pract.start">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Дата окончания работы</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="pract.end">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button (click)="removePractice(pract)">Удалить</button>
    <br>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Специлизация</mat-label>
      <mat-select [(ngModel)]="newPractice.specializationId">
        <mat-option *ngFor="let spec of specializationList" [value]="spec.id">{{spec.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Полеклиника</mat-label>
      <mat-select [(ngModel)]="newPractice.polyclinicId">
        <mat-option *ngFor="let polic of policlinicList" [value]="polic.id">{{polic.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Дата начала работы</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="newPractice.start">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Дата окончания работы</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="newPractice.end">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button (click)="addPractice()">Добавить</button>
    <br>
  </div>
</div>
