<p>home-doctor works!</p>

<!--<div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
    <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
  </div>
</div>-->

<div class="row">
  <div class=" col-4" >
    <a  >
      <div class="card_item">
        <div>
          <div class="card_photo">
            <div *ngIf="doctor?.photo?.base64">
              <img class="img_doc" src="data:image/png;base64, {{doctor?.photo?.base64}}" />
            </div>

          </div>

          <div class="card_fio">
            {{doctor.lastName}}


            {{doctor.firstName}}

            {{doctor.middleName}}
            <div>
              {{doctor.shortDesk}}
            </div>
          </div>
          <div class="longdesk">
            {{doctor.longDesk}}
          </div>
          
          </div>
          <div class="info_doc fr">
            <div *ngFor="let pract of doctor.practicesDto">
              <ul class="info_list">
                <li class="info_item"><p class="paragraf">Стаж:</p> <span>{{getPoliclinicById(pract.polyclinicId||0)?.name}}</span></li>
                <li class="info_item">
                  <p class="paragraf">Стаж c:</p>
                  <span>{{pract.start | date:'dd.MM.yyyy'}}</span>
                </li>
                <li class="info_item"><p class="paragraf">Стаж :</p><span class="span"> {{pract.end | date:'dd.MM.yyyy'}}</span></li>
                <li class="info_item"><p class="paragraf">Стаж:</p> <span>{{getSpecializationById(pract.specializationId||0)?.name}}</span></li>

              </ul>
              
             
              
              
            </div>
            
          </div>
        </div>
    </a>
  </div>
</div>
<br>
<div></div>
