<nav class="navbar bg-dark">
  <h1>
    <a>Сайт</a>
  </h1>
  <!--<div class="breadcrumbs" id="breadcrumbs">
     breadcrumb <ol class="breadcrumb">

      <li><a href="https://bootstraptema.ru/"><span>Главная</span></a></li>
      <li><a href="/stuff/templates_bootstrap/1"><span>Шаблоны Bootstrap</span></a></li>
      <li><a href="/stuff/templates_bootstrap/shop/7"><span>Магазин</span></a></li>
      <li class="active">Pharma</li>
    </ol> /.breadcrumb
    U1SEARCH1Z<div class="nav-search" id="nav-search"><form class="form-search" onsubmit="this.sfSbm.disabled=true" method="get" action="/search/"><span class="input-icon"><input type="text" name="q" placeholder="Ищем..." class="nav-search-input queryField" id="nav-search-input" autocomplete="off"><i class="ace-icon fa fa-search nav-search-icon"></i></span></form></div>/U1SEARCH1Z
  </div>-->


</nav>

<div class="container">
  <router-outlet></router-outlet>
  </div>

