<!--<a *ngFor="let doctor of doctorList" routerLink="./doctor/{{doctor.id}}">{{doctor.firstName}} {{doctor.middleName}} {{doctor.lastName}}</a>-->

<br>
<div>
  <mat-card class="example-card" *ngFor="let doctor of doctorList">
    <br>
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{doctor.firstName}} {{doctor.middleName}} {{doctor.lastName}}
    </mat-card-content>
    <mat-card-actions>
      <button class=" buttonadmin" mat-raised-button  [routerLink]="['./doctor/',doctor.id]">LIKE</button>
      <button class=" buttonadmin" mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
<br>
