.example-card {
  max-width: 400px;
  background-color: antiquewhite rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.buttonadmin {
  margin-right: 10px;
}

.image{
    width:200px;
    height: 160px;
}

.text {
  display: flex;
  /*flex-direction: column;*/
  flex-wrap:wrap;
  justify-content:space-between!important;
  align-items:center;
  margin-bottom:20px;
  gap: 19px;
}
.test {
    text-align:center;
  align-items:center;
  width: 300px;
  padding: 16px 0;
  /*height: 100px;*/
}
