<div><a class="buttondadmin" mat-raised-button routerLink="./town">Редкатирование городов</a></div>

<div> <a class="buttondadmin" mat-raised-button routerLink="./specialization">Редкатирование специлизации</a></div>
 <div> <a class="buttondadmin" mat-raised-button routerLink="./policlinic">Редкатирование полеклиник</a></div>

<div><a class="buttondadmin" mat-raised-button  routerLink="./doctor">Добавление Доктора</a></div>

<app-admin-doctor-list></app-admin-doctor-list>



  

  <!--<app-admin-specialization></app-admin-specialization>













  <div class="text-center">Добавление поликлиники</div>
  <div class="form-control">
    <label for="">Название</label>
    <input type="text" name="policlinicName">
  </div>


  <button type="submit" class="btn btn-primary">Добавить</button>


  <button type="submit" class="btn btn-primary ">Редактировать</button>

  <button type="submit" class="btn btn-primary ">Удалить</button>




  <div class="text-center">Добавление врача</div>
  <div class="form-control">
    <label for="">Название</label>
    <input type="text" name="doctorName">

  </div>
  <div class="form-control">
    <label for="">Фото</label>
    <input type="text" photo="doctorName">
  </div>

  <div class="form-control">
    <label for="">Специализация</label>
    <input type="text" specialization="doctorName">
  </div>

  <div class="form-control">
    <label for="">Название клиники</label>
    <input type="text" namePoliclinic="doctorName">
  </div>


  <button type="submit" class="btn btn-primary">Добавить</button>


  <button type="submit" class="btn btn-primary ">Редактировать</button>

  <button type="submit" class="btn btn-primary ">Удалить</button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Position Column -->
  <!--<ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>-->
  <!-- Name Column -->
  <!--<ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>-->
  <!-- Weight Column -->
  <!--<ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>-->
  <!-- Symbol Column -->
  <!--<ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button (click)="openDialog()">Pick one</button>

  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Тирасполь</a>
    <a href="#" class="list-group-item list-group-item-action">Бендеры</a>

    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      Добавить город
    </a>
  </div>

  <div>
    <div>Тирасполь</div>
    <div>Бендеры</div>
    <div>Днестрвоск</div>
    <button mat-raised-button></button>
  </div>
  <div>

  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>-->
